{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {config, "config/sys.config"}, % Path to your application's system configuration
    {apps, [valid_json]}       % Applications to auto-boot when starting the shell
]}.

{eunit_opts, [
    no_tty,
    {report, {valid_json_eunit_progress, [colored, {success_interval, 100}]}}
]}.
